In [24]:
import pandas as pd
import numpy as np

df2 = pd.read_csv('predictive_maintenance.csv')
df2.shape

(10000, 10)

In [25]:
import threading

def printit():
  #threading.Timer(5.0, printit).start()
  print("Hello, World!")

printit()


import pandas as pd
dt_list = pd.date_range(start='2022-01-22 13:00:00', periods=10000, freq='5s')
dt_list.to_frame(index=False,name="dateTime")
dt_list.tolist()
#print(dt_list)
df = pd.DataFrame(dt_list)
df.columns=["dateTime"]
df

Hello, World!

                dateTime
0    2022-01-22 13:00:00
1    2022-01-22 13:00:05
2    2022-01-22 13:00:10
3    2022-01-22 13:00:15
4    2022-01-22 13:00:20
...                  ...
9995 2022-01-23 02:52:55
9996 2022-01-23 02:53:00
9997 2022-01-23 02:53:05
9998 2022-01-23 02:53:10
9999 2022-01-23 02:53:15

[10000 rows x 1 columns]

In [26]:
import pandas as pd
import numpy as np

result = pd.concat([df2, df], axis=1)
result

,UDI,Product ID,Type,Air temperature [K],Process temperature [K],Rotational speed [rpm],Torque [Nm],Tool wear [min],Target,Failure Type,dateTime
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure,2022-01-22 13:00:00
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure,2022-01-22 13:00:05
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure,2022-01-22 13:00:10
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure,2022-01-22 13:00:15
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure,2022-01-22 13:00:20
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure,2022-01-23 02:52:55
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure,2022-01-23 02:53:00
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure,2022-01-23 02:53:05
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure,2022-01-23 02:53:10
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure,2022-01-23 02:53:15

In [27]:

result.to_csv('machine_details.csv', index=False)

In [28]:
import csv,json

csvFilePath="predictive_maintenance.csv"
jsonFilePath="machine_details"
data={}
with open(csvFilePath) as csvFile:
    csvReader=csv.DictReader(csvFile)
    for rows in csvReader:
        id = rows["Product ID"]

        data[id]=rows

with open(jsonFilePath,'w') as jsonFile:
    jsonFile.write(json.dumps(data,indent=5))

In [30]:
df4 = pd.read_csv('machine_details.csv')
df4

,UDI,Product ID,Type,Air temperature K,Process temperature K,Rotational speed rpm,Torque Nm,Tool wear min,Target,Failure Type,dateTime
0,1,M14860,M,298.1,308.6,1551,42.8,0,0,No Failure,2022-01-22 13:00:00
1,2,L47181,L,298.2,308.7,1408,46.3,3,0,No Failure,2022-01-22 13:00:05
2,3,L47182,L,298.1,308.5,1498,49.4,5,0,No Failure,2022-01-22 13:00:10
3,4,L47183,L,298.2,308.6,1433,39.5,7,0,No Failure,2022-01-22 13:00:15
4,5,L47184,L,298.2,308.7,1408,40.0,9,0,No Failure,2022-01-22 13:00:20
...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,M24855,M,298.8,308.4,1604,29.5,14,0,No Failure,2022-01-23 02:52:55
9996,9997,H39410,H,298.9,308.4,1632,31.8,17,0,No Failure,2022-01-23 02:53:00
9997,9998,M24857,M,299.0,308.6,1645,33.4,22,0,No Failure,2022-01-23 02:53:05
9998,9999,H39412,H,299.0,308.7,1408,48.5,25,0,No Failure,2022-01-23 02:53:10
9999,10000,M24859,M,299.0,308.7,1500,40.2,30,0,No Failure,2022-01-23 02:53:15